tensorflow==2.6.2
pydub==0.25.1
torch==1.10.2
tqdm==4.64.1
librosa==0.9.2
mir_eval==0.7
matplotlib==3.3.4
numpy==1.19.5
openunmix==1.2.1
openvino==2022.2.0
openvino_dev==2022.2.0
pretty_midi==0.2.9
resampy==0.4.2
scipy==1.5.4
termcolor
